/*! 
 * Kalatheme (http://drupal.org/project/kalatheme) 
 * rbv_kala_default kalatheme subtheme
 */
html {
 font-size: 100%;
}
/*a {
  color: #FF9292;
}*/

/* FRONT PAGE */
h1#site-name{
    font-size:30px;
}
/* HEADER NAVBAR */
header.navbar {
/*    background:#D8C7A3;*/
/*    border-radius:0;*/
/*    border:none;*/
  margin-bottom: 0;
}

.nav-search-box label{
  display:none;
}
.navbar-default .navbar-form {
  border: none;
}

/* SEARCH BOX */
form[id^="search-form"] .form-group {
  float:left;
  margin-top:0;
  width: 78%;
}
form[id^="search-form"] input.form-control {
  display: inline-block;
  border-radius: 4px 0 0 4px;
  width: 100%;
}
form[id^="search-form"] input.form-submit {
  border-radius: 0 4px 4px 0;
}

@media (min-width: 768px) {
  .nav-search-box {
    min-width: 50%;
  }
}

/* LOGO */
#logo img{
/*    position:absolute;*/
/*    float:left;*/
    width:82px;
}

/* COVER */
#rbv-cover {
  /* background: #196CB5; */
  height: 22em;
  background-size: cover;
  background-image: url(../images/default.jpg);
  background-attachment: fixed;
  /* background: linear-gradient(to bottom,rgba(255, 255, 255, 0.42) 10%,rgba(255, 255, 255, 0) 95%); */
}

.rbv-explore-page #rbv-cover {
  background-image: url(../images/explore.jpg);
}
.page-admin #rbv-cover {
  background-image: url(../images/admin.jpg); 
}

/* MAIN */
#main-wrapper{
  margin-top: 0;
  position: relative;
  top: -112px;
}
#page-wrapper {
  background-color: #f8f8f8;
}

div#top-content {
    /*margin-top: 6px;*/
}

/* FIELD LABELS */
.field .field-label {
 color: #909090;
 font-size: 1em;
 font-weight: normal;
}

/* NODE */

/* div main content. i.e. excluding comments */
.node {
 padding-bottom: 1em;
}

/* fields */
.field-type-addressfield {
  display: table;
  margin-bottom: .6em;
  color: #8D8785;
}

.field-type-addressfield .organisation-name {
 font-weight: bold;
}

.field-name-field-com-telephone .field-item:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 display: inline-block;
 text-decoration: inherit;
 content: "\f095";
 padding-right: .6em;
}

.field-name-field-com-email .field-item:before {
 font-family: FontAwesome;field-name-field-org-type
 font-weight: normal;
 font-style: normal;
 display: inline-block;
 text-decoration: inherit;
 content: "\f0e0";
 padding-right: .4em;
}

.field-name-field-com-more, .field-name-field-com-email, .field-name-field-com-telephone {
 margin-bottom: .6em;
}

.field-name-body h4 {
  margin-top: 2em;
}
.field-name-body h5 {
  margin-top: 1.5em;
}
.field-name-body h6 {
  margin-top: 1.4em;
}

/* field date */

/*
.field-name-field-event-date {
  line-height: 1.8em;
}

.date-display-single {
  background: #E3FFCE;
  display: inline-block;
  -moz-border-radius: .4em;
  border-radius: .4em;
  padding: 0 .4em;
}
.date-display-range {
  display: inline-block;
}

.date-display-start {
  background: #E3FFCE;
  padding: .3em .5em .2em .5em;
  -moz-border-radius: .4em;
  border-radius: .4em;
}
.date-display-end {
  background: #FFCECE;
  padding: .3em .5em .2em .5em;
  -moz-border-radius: .4em;
  border-radius: .4em;
}
*/

.pane-node-field-event-date {
  font-weight: bold;
}
.date-display-range {
  display: inline-block;
}
/* field group visibility */
.field-name-group-access {
 background: #FFF69B;
 -moz-border-radius: .4em;
 border-radius: .4em;
 margin: .5em;
 padding: .5em;
}

/* IMAGES */
.field-name-field-com-logo .panopoly-image-square, .views-field-field-com-logo .panopoly-image-square {
 float: left;
 padding: 0 1em .8em 0;
}
.rbv-image-cover {
  width: 100%;
  height: auto;
  padding: 0;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}

.rbv-image-teaser {
  float: left;
  margin-right: 6px;
}

.collab-link a {
    background: #4E9915;
    color: #fff;
    border-radius: 50%;
    padding: 6px;
    right: -6px;
    top: -6px;
    font-weight: bold;
    z-index: 3;
    position: absolute;
}

/* FIELD > SLOGAN */
.node .field-name-field-com-tagline {
 font-family: georgia;
 font-style: italic;
}

/* LINKS */
.field-type-link-field {
 margin: .5em;
 padding: .5em;
}
/* FIELD > SOCIAL LINKS */
.field-name-field-com-social-links {
 padding: 1em 1em 0 0;
 min-height: 46px;
}
.node .field-name-field-com-social-links .field-item {
 padding-bottom: .45em;
 float: right;
}

/* field > social links new */
.field-name-field-com-ln-fb {
  float: right;
  margin: 0 1em 0 0;
  padding: 0;
}
.page-node-edit .field-name-field-com-ln-fb{
  width: 100%;
}

/* field > quick links */
.field-name-field-quick-links-links {
 background: #f5f5f5;
 -moz-border-radius: .4em;
 border-radius: .4em;
}
.field-name-field-quick-links-links .link-title {
 float: left;
 padding-right: .5em;
}

/*
 * NODE TITLES
 */
.node-type-org h1#page-title:before, .node-org .rbv-teaser-title a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: "\f015";
}
.node h1#page-title:before {
  font-size: 1em;
  padding-right: .4em;
}
.node-teaser .rbv-teaser-title a:before {
  font-size: .9em;
  padding-right: .2em;
}

.node-type-project h1#page-title:before, .node-project .rbv-teaser-title a:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 display: inline-block;
 text-decoration: inherit;
 content: "\f06c";
}

.node-type-event h1#page-title:before, .node-event .rbv-teaser-title a:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 display: inline-block;
 text-decoration: inherit;
 content: "\f073";
}
.node-type-collaboration h1#page-title:before, .node-collaboration .rbv-teaser-title a:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 display: inline-block;
 text-decoration: inherit;
 content: "\f07e";
}
.node-type-forum h1#page-title:before, .node-forum .rbv-teaser-title a:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 display: inline-block;
 text-decoration: inherit;
 content: "\f075";
}


/*
 * TAXONOMY 
 */
.node .field-type-taxonomy-term-reference ul.links {
 list-style: none;
 padding-left: 0;
}
.node .field-type-taxonomy-term-reference a {
 -moz-border-radius: .3em;
 border-radius: .3em;
 padding: .2em .4em;
 margin: .2em;
 white-space: nowrap;
}

/* TAXONOMY > CATEGORIES */
.node .field-name-field-com-categories a {
 /*background: #FFEAB9;*/
 float: left;
}
/* Abitare */
.tid-7 a {
  background: #FFD4B4;
  color: #4F4D44;
}
/* Artigianato */
.tid-4 a {
  background: #795548;
  color: #FFE032;
}
/* Bio */
.tid-2 a {
  background: #3F9F3A;
  color: #C8FF47;
}
/* Salute e cura */
.tid-3 a {
  background: #1273B3;
  color: #A0FFE8;
}
/* Turismo responsabile */
.tid-8 a {
  background: #ffffff;
  color: #000000;
}
/* Finanza mutualistica servizi economici */
.tid-55 a {
  background: #F12D2D;
  color: #fff;
}
/* formazione */
.tid-70 a {
  background: #ffffff;
  color: #000000;
}
/* informazione */
.tid-13 a {
  background: #AAAAFF;
  color: #000000;
}

.node .field-name-field-com-categories a:before, .page-taxonomy-term h1#page-title:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 display: inline-block;
 text-decoration: inherit;
 content: "\f02b";
 padding-right: .5em;
}

.node .field-name-field-com-tags a:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 display: inline-block;
 text-decoration: inherit;
 content: "\f02c";
 padding-right: .5em;
}

/* TAXONOMY > TAGS */
.node .field-name-field-com-tags a {
 background: #F3DC55;
 float: left;
}
.node .field-name-field-com-tags {
  clear: both;
}

/* TAXONOMY > ORG-TYPE and SCOPE */
.node .field-name-field-org-type a, .node .field-name-field-com-scope a {
 background: #f5f5f5;
 padding: .3em .4em;
}

div .node .field-name-field-org-type:after {
 clear: none;
}

.node .field-name-field-com-scope {
 clear: both;
}

/* 
 * PANES
 */

.panel {
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
div.view-content.row {
 margin-left: 0;
 margin-right: 0;
}
article .node {
 padding-bottom: 12px;
}

.node-type-org .views-row {
 /*margin-bottom: 12px;*/
 /*max-width: 400px;*/
 position: relative;
}

.rbv-minicard {
  width: 100%;
  max-width: 364px;
  min-width: 245px;
}

.rbv-card {
  max-width: 364px;
}


/* Project collaborators and Organization members */
.node-type-project .views-row, .node-type-org .view-rbv-view-members .views-row, .node .field-name-field-relpro-project {
 background: #f8f8f8;
 -moz-border-radius: .4em;
 border-radius: .4em;
 margin: 0 0 .5em 0;
 padding: 0 .7em 0 .7em;
}

/* nuove nate*/
.view-rbv-view-lists.view-display-id-panel_pane_13 .views-row {
	clear: both;
	padding: 8px;
}
.view-rbv-view-lists.view-display-id-panel_pane_13 .views-row.views-row-first {
  background: #eee;
  -moz-border-radius: .4em;
  border-radius: .4em;
  min-height: 54px;
  font-size: 2em;
}

.node-type-project .views-row.collaborator, .node-type-org .views-row.member {
 max-width: 48%;
 height: 48px;
 margin: 3px;
 padding: 5px;
 float: left;
}
.view-rbv-view-projectcollaborations .views-row-even, .node-type-org .view-rbv-view-members .views-row-even {
 background: #fcfcfc;
}
.collaborator .views-field.views-field-field-com-logo, .view-rbv-view-members .views-field-field-user-picture {
 padding: 0 3px 0 0;
 float: left;
}
.member .views-field-name {
 font-size: 1em;
}

.view-rbv-view-projectcollaborations .pagination, .view-rbv-view-group-content .pagination {
 display: block;
}

/* Project and Event taxonomy */
.node-type-event .field-name-field-relpro-project, .page-taxonomy-term .node {
 background: #f5f5f5;
 -moz-border-radius: .4em;
 border-radius: .4em;
 margin: .4em;
 padding: .5em;
}

.page-search .views-row {
 margin: .5em;
 padding: .5em;
}

.noderow {
 width: 100%;
}

.pane-title {
 clear: both;
 font-size: 1.3em;
 padding-top: 1em;
}

.node h2 {
 font-size: 1.5em;
 margin-top: 15px;
}

h1#page-title {
/* -webkit-text-stroke: 1px black;
 color: white;
 text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;*/
  background: linear-gradient(to bottom,rgba(255,255,255,.5) 10%,#fff 95%);
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 3px 3px 7px;
  font-size: 38px;
  font-weight: bold;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

h3 {
 clear: both;
}

/* PANE GROUP REFERENCE */
.group-vmode-group-content .field-name-og-group-ref {
 clear: both;
}

.node .field-name-og-group-ref a:before {
 content: 'di ';
}

.group-vmode-group-content .field-name-field-com-tagline {
 padding-bottom: 0;
 font-size: 1.1em;
}

.pane-node-og-group-ref .field-item {
  margin-bottom: 12px;
}

/* NODE TEASER */
.node-teaser ul.links {
 clear: both;
}
/*.node-teaser .field-name-field-com-categories a {
 float: left;
}*/

.node-teaser .panel-pane.pane-node-title .pane-title, .node-vmode-group-content .panel-pane.pane-node-title .pane-title {
  display: none;
}

/* CARDS */
.masonry-item {
  margin: 0;
  border: 7px solid rgba(255, 255, 255, 0);
  background: none;
  padding: 0;
 /*display: table;*/
}

.node-teaser, .node-vmode-group-content {
  /*background: #272822;*/
  background-color: #fff;
  /*color: #A4BF27;*/
  border-radius: 5px;
  -moz-border-radius: 5px;
  display: block;
  /*float: left;*/
  /*height: 300px;*/
  margin: 0!important;
  /*position: relative;*/
  /*width: 300px;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}
.node-teaser:hover, .node-vmode-group-content:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.node-vmode-group-content h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 12px 6px 6px 0;
  font-size: 1.3em;
}
.truncate {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.node-vmode-group-content img {
  max-width: 130px!important;
  height: 100%;
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  padding: 0 10px 0 0!important;
}

.node-teaser .radix-layouts-footer .panel-panel-inner {
  padding: 0 6px 1px 6px;
}
.node-vmode-group-content .radix-layouts-content .panel-panel-inner {
  padding: 0 6px 1px 0px;
}

.rbv-teaser-when {
  /*position: absolute;*/
  /*color: #3B3B3B;*/
}

.rbv-org-teaser, .node-teaser.node-org {
  /*background: #ABDC0A;*/
  /*background: linear-gradient(to bottom,rgba(32,183,123,.9) 10%,#fff 95%)!important;*/
  /*
  background-image: url(../images/watercolor1.png);
  background-repeat: no-repeat;
  */
}
.rbv-project-teaser, .node-teaser.node-project {
  /*background: #00CA76;*/
}
.rbv-event-teaser, .node-teaser.node-event {
  /*background: #523C34;*/
  /*color: #fff;*/
  /*background-image: url(../images/watercolor1.png);
  background-repeat: no-repeat;
  background-size: cover;*/
}

/* IMAGES in firefox and IE */
@-moz-document url-prefix() {
 .masonry-item img {
  width: 100%;
 }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
 .masonry-item img {
  width: 100%;
 }
}

select#edit-field-com-tags-tid {
 max-width: 232px;
}
select#edit-field-org-type-tid {
 max-width: 230px;
} 
select#edit-field-com-categories-tid {
 max-width: 221px;
}
select#edit-type {
 max-width: 158px;
}

.quadrato {
 border-radius: 4px;
 -moz-border-radius: 4px;
 -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
         box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.cozy {
 padding: 6px 8px;
}

/*
 * FIELDSETS
 */
fieldset.collapsible {
 clear: both;
}
.field-group-fieldset {
 margin: 6px 0 0 0;
 background-color: #ffffff;
 border: 1px solid #f5f5f5;
 border-radius: 4px;
 -moz-border-radius: 4px;
 -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
         box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.field-group-fieldset>legend.panel-heading {
 padding: 1px;
/* border-top: 1px solid #f5f5f5; */
 border-top-right-radius: 4px;
 border-top-left-radius: 4px;
 color: #333333;
 background-color: #f5f5f5;
 margin-bottom: 0px;
}

a.fieldset-title:link {
 font-size: 13px;
 color: #333333;
}

html.js fieldset.collapsed {
 margin-bottom: 28px;
 padding: 0;
}

.collapse-processed .fieldset-wrapper {
 margin: 1px 1px -5px 1px;
/* padding-top: 0; */
}

/* 
 * FIELDSET INFO 
 */
.info-fieldgroup .field-name-field-com-tagline {
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 1.4em;
  line-height: 1.55em;
  min-height: 5em;
}
.info-fieldgroup .field-name-field-com-tagline .field-item:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  display: inline-block;
  text-decoration: inherit;
  content: "\f10d";
  padding-right: .4em;
  position: relative;
  top: -.4em;
}
.info-fieldgroup .field-name-field-com-tagline .field-item:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  display: inline-block;
  text-decoration: inherit;
  content: "\f10e";
  padding-left: .4em;
  position: relative;
  top: .6em;
}
.info-fieldgroup {
 background-color: #ffffff;
 border: 1px solid #ECB97E;

}

.info-fieldgroup>legend.panel-heading {
 background-color: #ECB97E;
}

/* 
 * FIELDSET DESCRIPTION 
 */
.field-group-fieldset .field-name-field-com-mission, .field-group-fieldset .field-name-field-com-description, .field-group-fieldset .field-name-field-com-history {
 clear: both;
 padding-top: 1em;
}

.field-group-fieldset .field-name-field-com-mission .field-item, .field-group-fieldset .field-name-field-com-description .field-item, .field-group-fieldset .field-name-field-com-history .field-item {
 padding-right: .6em;
}

.field-group-fieldset .field-name-field-com-mission .field-label {
 color: #909090;
 font-weight: normal;
}

/* 
 * FIELDSET CONTACTS 
 */
.field-group-fieldset.group-org-display-contacts, .field-group-fieldset.group-project-dis-contacts, .field-group-fieldset.group-event-dis-contacts {
 background-color: #ffffff;
 border: 1px solid #D8C7A3;
}
.field-group-fieldset.group-org-display-contacts > legend, .field-group-fieldset.group-project-dis-contacts > legend, .field-group-fieldset.group-event-dis-contacts > legend {
 background-color: #D8C7A3;
}
.field-group-fieldset.group-org-display-contacts a.fieldset-title:before, .field-group-fieldset.group-project-dis-contacts a.fieldset-title:before, .field-group-fieldset.group-event-dis-contacts a.fieldset-title:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 font-size: 1em;
 display: inline-block;
 text-decoration: inherit;
 content: "\f0f4";
 padding-right: .4em;
}

/* FIELDSET PRIVATE */
.group-project-dis-private-og {
 background-color: #ffffff;
 border: 1px solid #F8E200;
}
.group-project-dis-private-og > legend.panel-heading {
 background-color: #FEF485;
}


/* USERS */
.field-name-og-user-node {
 clear: both;
}
/* profile */
.profile .field-name-field-com-social-links {
 margin-bottom: 1em;
}
.profile .field-label {
 margin-bottom: .4em;
}
.profile .field-name-og-user-node .field-item {
 background: #f8f8f8;
 -moz-border-radius: .4em;
 border-radius: .4em;
 margin: 0 .5em .5em 0;
 padding: .5em;
 float: left;
 font-size: 1.2em
}
.profile .field-name-og-user-node .even {
 background: #fcfcfc;
}
/* all users explore section */
.masonry .views-field-name {
 font-size: 1.3em;
}
.masonry-item .views-field-og-user-node {
 padding: .4em 0 .4em 0;
 list-style: none;
}
.masonry-item .views-field-og-user-node a {
 background: #f5f5f5;
 -moz-border-radius: .4em;
 border-radius: .4em;
 padding: .2em .4em;
 float: left;
 margin: .2em;
 max-width: 57%;
}
.masonry-item .views-field-field-user-picture {
 margin: 0 .3em .3em 0;
}
.masonry-item .rbv-image-circle {
  width: 45px;
}

/* USERS BACKEND */
fieldset#user_user_form_group_user_profile {
 clear: both;
}

/* relations */
.field-name-endpoints .field-items .node {
background: #edf8e5;
-moz-border-radius: .4em;
border-radius: .4em;
padding: 1em;
float: left;
margin: .2em 1em 1.2em 0;
}
.field-name-field-rel-collaborations {
clear: both;
}
.field-name-field-rel-collaborations .node {
background: #f5f5f5;
padding: 1em;
float: left;
margin: .2em 1em 1em 0;
}

/* forum */
.related {
-moz-border-radius: .3em;
border-radius: .3em;
padding: .1em .3em .1em .3em;
margin: .2em;
white-space: nowrap;
background: black;
}

/* group reference field */
.page-node-edit.node-type-event .field-name-og-group-ref a, .page-node-edit.node-type-project .field-name-og-group-ref a {
 background: none;
 -moz-border-radius: none;
 border-radius: none;
 padding: 0;
}

/*
 * MENU 
 */
/** menu home **/
li.mid-1322 a:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 font-size: 1em;
 display: inline-block;
 text-decoration: inherit;
 content: "\f015";
 padding-right: .4em;
}

/** menu esplora **/
li.mid-988 a:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 font-size: 1em;
 display: inline-block;
 text-decoration: inherit;
 content: "\f00a";
 padding-right: .4em;
}

/** menu vedi la rete **/
li.mid-990 a:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 font-size: 1em;
 display: inline-block;
 text-decoration: inherit;
 content: "\f06e";
 padding-right: .4em;
}

/** menu discussioni **/
li.mid-1363 a:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 font-size: 1em;
 display: inline-block;
 text-decoration: inherit;
 content: "\f086";
 padding-right: .4em;
}

/** menu eventi **/
li.mid-991 a:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 font-size: 1em;
 display: inline-block;
 text-decoration: inherit;
 content: "\f073";
 padding-right: .4em;
}

/** menu blog **/
li.mid-1422 a:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 font-size: 1em;
 display: inline-block;
 text-decoration: inherit;
 content: "\f0a1";
 padding-right: .4em;
}
.navbar-default .navbar-nav>li.mid-1422 a {
 color: #F18383;
/**  color: #5FAFA9; **/
}
.navbar-default .navbar-nav>li.mid-1422 a:hover {
 color: #5FAFA9;
}

/** menu profilo utente **/
.secondary-links .first a:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 font-size: 1em;
 display: inline-block;
 text-decoration: inherit;
 content: "\f007";
 padding-right: .4em;
}

/** menu esci/accedi **/
.secondary-links .last a:before {
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 font-size: 1em;
 display: inline-block;
 text-decoration: inherit;
 content: "\f011";
 padding-right: .4em;
}

#tabs {
 margin-bottom: 1px;
}

/* BUTTONS */
#graph .form-group {
    margin-right:.8em!important;
    margin-left:.8em!important;
}
.fullScreen:before{
 font-family: FontAwesome;
 font-weight: normal;
 font-style: normal;
 font-size: 1em;
 display: inline-block;
 text-decoration: inherit;
 content: "\f1b2";
 padding-right: .4em;
}

.badge {
  margin-left: 20px;
}
.badge-org {
  background-color: #ABDC0A;
  color: #333;
}
.badge-project {
  background-color: #026510;
}
.badge-collaboration {
  background-color: #4E9915;
}

/* 
 * BACKEND
 */
.node-form .field-name-field-com-logo {
float: none;
}

.wellrbv {
  min-height: 20px;
  padding: 2px;
  margin-bottom: 4px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.wellrbv .fieldset-wrapper {
 margin-left: 15px;
 margin-bottom: 8px;
}

.field-type-taxonomy-term-reference .form-checkboxes > div {
 float: left;
 margin-right: 1em;
}

.form-type-checkboxes > .description {
 clear: both;
}

.form-item.form-type-checkbox {
 margin-top: 0;
}

.page-admin .checkbox input[type=checkbox] {
 position: relative;
 margin-left: 0;
}

div#edit-account .form-item-notify {
 clear: both;
}

div#edit-og-group-ref {
clear: both;
}

.field-widget-taxonomy-autocomplete {
 clear: both;
}

div .image-widget-data {
 float: none;
}

.help {
 font-size: 2em;
 color: #FF5C00;
}
form .form-actions .btn {
    margin-bottom: 8px;
}

/* date picker */
select.ui-datepicker-month, select.ui-datepicker-year {
 background: #7D7971;
}
/* date inputs */
.start-date-wrapper input {
  background: #DFFBCB;
}
.end-date-wrapper input {
  background: #FFCECE;
}

/* editors */
textarea.markItUpEditor {
  font-family:monospace;
  font-size:11pt;
}

/* add collaboration */
input#edit-field-rel-source-und-0-target-id {
  background: #ABDC0A;
  color: #333;
}
input#edit-field-relpro-project-und-0-target-id {
  background: #378722;
  color: #fff;
}

/* admin */
.page-admin ul {
list-style: none;
}
.page-admin ul li {
padding: .3em;
}

/* NETWORK ADMIN */
.networkadmin .view-rbv-netadmview-joined div {
 float: left;
}

.networkadmin .view-rbv-netadmview-joined span.field-content:after {
 content: ", \00a0";
}


/* media */
.button {
  display: inline-block;
  padding: 6px 12px;
  margin: 0 .3em 0 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #EEE;
    border-left-width: 5px;
    border-radius: 4px;
}
.callout p:last-child {
    margin-bottom: 0;
}
.callout-danger {
    border-left-color: #D9534F;
}
.callout-danger h4 {
    color: #D9534F;
    margin-top: 0;
}
.callout-warning {
    border-left-color: #F0AD4E;
}
.callout-warning h4 {
    color: #F0AD4E;
    margin-top: 0;
}
.callout-info {
    border-left-color: #5BC0DE;
}
.callout-info h4 {
    color: #5BC0DE;
    margin-top: 0;
}
.callout-success {
    border-left-color: #5CB85C;
}
.callout-success h4 {
    color: #5CB85C;
    margin-top: 0;
}
.callout-primary {
    border-left-color: #428BCA;
}
.callout-primary h4 {
    color: #428BCA;
    margin-top: 0;
}

/* TRICKS */
.invisible-separator{
    font-size:0;
}
input#edit-delete{
  display:none;
}
.node-type-event input#edit-delete, .node-type-panopoly-page input#edit-delete{
  display:inline-block;
}
.page-node-progetti .alert-danger {
    display:none;
}




