svg {
    background: #ffffff;
}
circle {
    fill:#333;
}
.org, circle.org-neverStarted {
    stroke: #378722;
    stroke-opacity: .95;
    stroke-width: 2.7px;
}
line.org-neverStarted {
    stroke: url(#fadedGradient);
    stroke-opacity: .95;
    stroke-width: 2.7px;
}
.project {
    stroke: #ABDC0A;
    stroke-opacity: .95;
    stroke-width: 2.7px;
}
line.org-neverStarted.hover {
	stroke: url(#selectedFadedGradient);
	stroke-width: 6px;
    stroke-opacity: 1;
}
.org.hover, .org.clicked, circle.org-neverStarted.hover {
	stroke: #4E3FFF;
	stroke-width: 6px;
    stroke-opacity: 1;
}
.project.hover, .project.clicked {
	stroke: #3FA9FF;
	stroke-width: 6px;
	stroke-opacity: 1;
}
.link {
    stroke: #999;
    stroke-opacity: .65;
    stroke-width: 2.7px;
    fill: none;
}
.link.hover, .link.clicked {
    stroke: #FF6A3F;
    stroke-opacity: 1;
    stroke-width: 6px;
    fill: none;
}
.node.hover text, .node.clicked text, .node.searched > text {
	font-family: Arial;
	font-size: 8;
	stroke: none;
	stroke-width: 1px;
	stroke-opacity: 1;
}
.node:not(.hover):not(.clicked):not(.searched) text{
	stroke: none;
	fill: none;
}
.node.unclicked, .node.unclicked > * {
    stroke-opacity: .45;
    opacity: .45;
}
.link.unclicked {
    stroke-opacity: .15;
    opacity: .15;
}
.node.searched > * {
	stroke: yellow;
	stroke-width: 6px;
	stroke-opacity: 1;
}
.x-axis {
    fill: #fee000;
    font-family: sans-serif;
}
