[submodule "drupal/makes"]
	path = drupal/makes
	url = git@github.com:miromarchi/rbv_drupal_make.git
[submodule "drupal/features/rbv_com_fields"]
	path = drupal/features/rbv_com_fields
	url = git@github.com:miromarchi/rbv_com_fields.git
[submodule "drupal/features/rbv_org"]
	path = drupal/features/rbv_org
	url = git@github.com:miromarchi/rbv_org.git
[submodule "drupal/features/rbv_project"]
	path = drupal/features/rbv_project
	url = git@github.com:miromarchi/rbv_project.git
