[submodule "drupal/makes"]
	path = drupal/makes
	url = git@github.com:miromarchi/rbv_drupal_make.git
[submodule "drupal/features/rbv_com_fields"]
	path = drupal/features/rbv_com_fields
	url = git@github.com:miromarchi/rbv_com_fields.git
[submodule "drupal/features/rbv_org"]
	path = drupal/features/rbv_org
	url = git@github.com:miromarchi/rbv_org.git
[submodule "drupal/features/rbv_project"]
	path = drupal/features/rbv_project
	url = git@github.com:miromarchi/rbv_project.git
[submodule "drupal/features/rbv_rel"]
	path = drupal/features/rbv_rel
	url = git@github.com:miromarchi/rbv_rel.git
[submodule "drupal/features/rbv_view_explore"]
	path = drupal/features/rbv_view_explore
	url = git@github.com:miromarchi/rbv_view_explore.git
[submodule "drupal/features/rbv_view_rel"]
	path = drupal/features/rbv_view_rel
	url = git@github.com:miromarchi/rbv_view_rel.git
