[submodule "drupal/makes"]
	path = drupal/makes
	url = git@github.com:miromarchi/rbv_drupal_make.git
[submodule "drupal/features/rbv_com_fields"]
	path = drupal/features/rbv_com_fields
	url = git@github.com:miromarchi/rbv_com_fields.git
[submodule "drupal/features/rbv_org"]
	path = drupal/features/rbv_org
	url = git@github.com:miromarchi/rbv_org.git
[submodule "drupal/features/rbv_project"]
	path = drupal/features/rbv_project
	url = git@github.com:miromarchi/rbv_project.git
[submodule "drupal/features/rbv_rel"]
	path = drupal/features/rbv_rel
	url = git@github.com:miromarchi/rbv_rel.git
[submodule "drupal/features/rbv_view_explore"]
	path = drupal/features/rbv_view_explore
	url = git@github.com:miromarchi/rbv_view_explore.git
[submodule "drupal/features/rbv_view_rel"]
	path = drupal/features/rbv_view_rel
	url = git@github.com:miromarchi/rbv_view_rel.git
[submodule "drupal/features/rbv_siteinfo"]
	path = drupal/features/rbv_siteinfo
	url = git@github.com:miromarchi/rbv_siteinfo.git
[submodule "drupal/features/rbv_view_groupcontent"]
	path = drupal/features/rbv_view_groupcontent
	url = git@github.com:miromarchi/rbv_view_groupcontent.git
[submodule "drupal/features/rbv_sparql"]
	path = drupal/features/rbv_sparql
	url = git@github.com:miromarchi/rbv_sparql.git
[submodule "drupal/features/rbv_relpro"]
	path = drupal/features/rbv_relpro
	url = git@github.com:miromarchi/rbv_relpro.git
[submodule "drupal/profiles/rbv_profile"]
	path = drupal/profiles/rbv_profile
	url = git@github.com:miromarchi/rbv_profile.git
[submodule "drupal/features/rbv_event"]
	path = drupal/features/rbv_event
	url = git@github.com:miromarchi/rbv_event.git
[submodule "drupal/features/rbv_view_graph"]
	path = drupal/features/rbv_view_graph
	url = git@github.com:miromarchi/rbv_view_graph.git
[submodule "drupal/features/rbv_relation"]
	path = drupal/features/rbv_relation
	url = git@github.com:miromarchi/rbv_relation.git
[submodule "drupal/themes/rbv_theme"]
	path = drupal/themes/rbv_theme
	url = git@github.com:fonzy85vr/rbv_theme.git
[submodule "drupal/features/rbv_pages"]
	path = drupal/features/rbv_pages
	url = git@github.com:miromarchi/rbv_pages.git
