svg {
    background: #ffffff;
}
.org, circle.org-neverStarted {
    stroke: cyan;
    stroke-opacity: .95;
    stroke-width: 4px;
}
line.org-neverStarted {
    stroke: url(#fadedGradient);
    stroke-opacity: .95;
    stroke-width: 4px;
}
.project {
    stroke: orange;
    stroke-opacity: .95;
    stroke-width: 4px;
}
line.org-neverStarted.hover {
	stroke: url(#selectedFadedGradient);
	stroke-width: 8;
}
 .org.hover, circle.org-neverStarted.hover {
	stroke: blue;
	stroke-width: 8;
}
.project.hover {
	stroke: orangered;
	stroke-width: 8;
}
.link {
    stroke: #999;
    stroke-opacity: .65;
    stroke-width: 4px;
    fill: none;
}
.link.hover {
    stroke: #999;
    stroke-opacity: .95;
    stroke-width: 6px;
    fill: none;
}

.node.unclicked, .node.unclicked > *{
    stroke-opacity: .45;
    opacity: .45;
}

.link.unclicked {
    stroke-opacity: .15;
    opacity: .15;
}
.x-axis {
    fill: #fee000;
    font-family: sans-serif;
}
