.sidr{
    padding-top:25px;
    display:none;
    position:absolute;
    position:fixed;
    top:0;
    height:100%;
    z-index:999999;
    width:260px;
    overflow-x:none;
    overflow-y:auto;
    font-family:arial,sans-serif;
    font-size:15px;
    background:#fcfcfc;
    color:#333;
    border-left:2px solid #D8C7A3;
}
/*.sidr .sidr-inner{*/
/*    padding:0 0 10px*/
/*}*/
/*.sidr .sidr-inner>p{*/
/*    margin-left:10px;*/
/*    margin-right:10px*/
/*}*/
.sidr.right{
    left:auto;
    right:-260px
}
.sidr.left{
    left:-260px;
    right:auto
}
.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    padding:10px 10px;
    margin-bottom:15px;
    line-height: 1.4;
    color: inherit;
    -webkit-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);
    box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);
    background-color:#D8C7A3;
}
.sidr p{
    font-size:13px;
/*    margin:0 0 10px*/
    margin-left:10px;
    margin-right:10px
}
.sidr ul{
    display:block;
/*    margin:0 0 15px;*/
    padding:10px;
/*    border-top:1px solid #dfdfdf;*/
/*    border-bottom:1px solid #fff*/
}
.sidr ul li{
    display:block;
    margin:0;
/*    line-height:48px;*/
/*    border-top:1px solid #fff;*/
/*    border-bottom:1px solid #dfdfdf*/
}
.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active{
/*    border-top:none;*/
/*    line-height:49px*/
}

.sidr form{
    margin:0 15px
}
.sidr label{
    font-size:13px
}
.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select{
    width:100%;
    font-size:13px;
    padding:5px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0 0 10px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    border:none;
    background:rgba(0,0,0,0.1);
    color:rgba(51,51,51,0.6);
    display:block;
    clear:both
}
.sidr input[type=checkbox]{
    width:auto;
    display:inline;
    clear:none
}
.sidr input[type=button],.sidr input[type=submit]{color:#f8f8f8;background:#333}.sidr input[type=button]:hover,.sidr input[type=submit]:hover{
    background:rgba(51,51,51,0.9)
}
